@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  display: inline-flex;
  white-space: nowrap;
}

:root {
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

body {
  font-family: var(--font-space-grotesk);
}
code {
  font-family: var(--font-geist-mono);
}
